@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}

:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: black;
  --navigation-item-hover-color: #3b5378;
  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  --scroll-bar-color: #fff;
  --scroll-thumb-color: rgba(0, 0, 0, 0.678);
  --scroll-thumb-hover-color: #454f6b;
}
:root {
  --swiper-navigation-size: 44px;
}
:root {
  --swiper-theme-color: #007aff;
}
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: black;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: rgba(0, 0, 0, 0.678);
  --scroll-thumb-hover-color: #454f6b;
}

/*======= body =======*/

body{
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url(img/Background.jpg);
  background-position: center;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar{
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scroll-thumb-hover-color);
}

.popup-screen{
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}

.popup-box{
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}


.popup-box p{
  font-size: 1em;
  margin-bottom: 30px;
}

.popup-box .btn{
  color: #fff;
  background: red;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 3px;
}

.close-btn{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}

.popup-screen{
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}

.popup-box{
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}

.popup-box h2{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}

.popup-box p{
  font-size: 1em;
  margin-bottom: 30px;
  padding: 5px 25px;
}

.popup-box .btn{
  color: #fff;
  background: red;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 3px;
}

.close-btn{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}

/*======= Header =======*/
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}



header .nav-bar{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.nav-close-btn, .nav-menu-btn{
  display: none
}

.nav-bar .logo{
  color: var(--white-color);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  font-weight: 500;
}
.nav-items a:hover{
  background: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(10px);
  transition: .3s;
  color: crimson;
  font-weight: 500;
}

.navigation .nav-items a span{
  padding: 7px;

}
.navigation .nav-items a i{
  display: none;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 45px;
}


/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px){
  header .nav-bar{
  padding: 25px 20px;
  }

  .section{
  padding: 25px 20px;
  }

  .media-icons{
  margin-right: 20px;
  }

  .media-icons a{
    font-size: 1.5em;
  }

  .swiper-slide .text-content{
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title{
    font-size: 3em;
  }

  .swiper-slide .text-content .title span{
    font-size: 0.35em;
  }

  .swiper-slide .text-content p{
    font-size: 0.9em;
  }

  /*======= Navigation menu =======*/
  .nav-menu-btn{
    display: block;
    color: var(--white-color);
    font-size: 3em;
    cursor: pointer;
  }
  .nav-menu-btn:hover{
    color: crimson;
    transition: .5s;
  }
  .nav-close-btn{
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .nav-close-btn:hover{
    color: crimson;
  }
  .navigation{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items{
    position: relative;
    background: rgb(29, 27, 27);
    display: grid;
    place-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items{
    transform: translateY(0);
    
  }

  .navigation .nav-items a{
    color: #fff;
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0);
  }

  .navigation .nav-items a:hover{
    color: rgb(245, 24, 69);
  }

  .navigation .nav-items > a > i{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn{
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= About section =======*/
  .about h2{
    font-size: 2.5em;
  }

  .about p{
    font-size: 0.9em;
  }
}

  /*======= dont touch =======*/
.image a{
  text-decoration: none;
}
.image a p{
  color: #f2f2f2;
}

.GG{
  margin: 25px;
  padding: 100px 0;
  font-size: 20px;
  text-align: center;
}
.GG h2{
  color: #f2f2f2;
  margin-bottom: 100px;
  font-style: italic;
  font-weight: 600;

}
.GG h2 span{
  color: crimson;
  font-weight: 900;
  font-size: 35px;
  font-style: italic;
  text-shadow: 1px 1px 1px #a710108c,
    1px 2px 1px #a513138c,
    1px 3px 1px #a10f0f8c,
    1px 4px 1px #a10f0f8c,
    1px 5px 1px #a10f0f8c,
    1px 6px 1px #a10f0f8c,
    1px 7px 1px #a10f0f8c,
    1px 8px 1px #a10f0f8c,
    1px 9px 1px #8113138c,
    1px 10px 1px #7a14148c;
}
.GG h2 p{
  font-style: italic;
  margin-top: 0;
  position:fixed absolute;
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  font-size: 1.50em;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191;
}

.title-kdrama{
  color: yellow;
  font-size: 50px;
  font-weight: 900;
  margin: 50px 10px;
  font-style: italic;
  text-shadow: 1px 1px 1px #a39a158c,
    1px 2px 1px #a39a158c,
    1px 3px 1px #afad0f8c,
    1px 4px 1px #a39a158c,
    1px 5px 1px #a39a158c,
    1px 6px 1px #a39a158c,
    1px 7px 1px #a39a158c,
    1px 8px 1px #a39a158c,
    1px 9px 1px #a39a158c,
    1px 10px 1px #a39a158c;
}
.img{
  height: 400px;
  border-radius: 5px;
}
.image{
  position: relative;
}
.image__img{
  display: block;
  width: 100%;

}
.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba( 0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand' , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay:hover{
  opacity: 1;
}
.image__title{
  font-size: 2em;
  font-weight: bold;
  color: crimson;
}
.image__description{
  font-size: 0.99em;
  margin-top: 0.25em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-p{
  margin: 50px 20px;
  color: #f2f2f2;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #645f5f8c,
  1px 1px 1px #7e74748c,
  1px 2px 1px #928d8d8c,
  1px 3px 1px #9990908c,
  1px 4px 1px #a094948c,
  1px 5px 1px #a5a0a08c,
  1px 6px 1px #b8b3b38c,
  1px 7px 1px #bbb3b38c,
  1px 8px 1px #968d8d8c,
  1px 9px 1px #948b8b8c;
}
.text p{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-p span{
  color: crimson;
  text-shadow: 1px 1px 1px #a710108c,
  1px 2px 1px #a513138c,
  1px 3px 1px #a10f0f8c,
  1px 4px 1px #a10f0f8c,
  1px 5px 1px #a10f0f8c,
  1px 6px 1px #a10f0f8c,
  1px 7px 1px #a10f0f8c,
  1px 8px 1px #a10f0f8c,
  1px 9px 1px #8113138c,
  1px 10px 1px #7a14148c;
  font-size: 75px;
}
.text1 p{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text2 p{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img1{
  height: 400px;
  padding: 0;  
  border-radius: 20px;
}
.image1{
  position: relative;

}
.image1 a{
  text-decoration: none;
  color: #f2f2f2;
}
.image__img1{
  display: block;
  width: 100%;
}
.image__overlay1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba( 0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand' , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay1:hover{
  opacity: 1;
}
.image__title1{
  font-size: 2em;
  font-weight: bold;
  color: yellow;
}
.image__description1{
  font-size: 0.99em;
  margin-top: 0.25em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  /*======= copyright =======*/
  .bgcopyright{
    width: 100%;

    margin-top: -20px;
    position: absolute;
  }
    .copyright {
      font-size: 12px;
      display: block;
      text-align: center;
      color: white;
      border-top: 1.5px solid var(--white-color);
      margin-top: 100px;
      padding: 20px ;
    }   
